@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.taskCard {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    padding: 10px;
    background-color: #e0e0e0;
}

.taskTitle {
    
}

.taskDesc {
    
}

.taskPriority {
    
}

.highPriority {
    color: red;
}

.mediumPriority {
    color: orange;
}

.lowPriority {
    color: green;
}